<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="expenses.length; else empty">
    <ion-item button *ngFor="let e of expenses">
      <ion-label>
        <h2>{{ e.concepto }}</h2>
        <p>{{ e.fecha }} · ${{ e.monto }}</p>
        <p *ngIf="e.pagado">Pagado</p>
        <p *ngIf="!e.pagado">Pendiente</p>


      </ion-label>

      <ion-badge [color]="getColor(e.categoria)">
        {{ e.categoria }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <ion-label>
      <p>No hay gastos registrados</p>
    </ion-label>
  </ng-template>

</ion-content>